.student-container {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.student-photo {
  border: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 100%;
  overflow: hidden;
  margin-right: .5rem;
  margin-left: .5rem;
  max-height: 80px;
  align-self: flex-start;
}
.student-photo img {
  width: 80px;
  max-width: 100%;
  height: auto;
}

.student-information {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.808);
}
.student-information p {
  margin-left: 0.5rem;
  margin-bottom: 0.15rem;
}
.student-information input {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.student-information input::placeholder {
  font-size: 1rem;
}
.student-name {
  color: black;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 6vw, 2rem);
}
.student-grades {
  list-style: none;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
  font-size: 14px;
}

.toggle-button {
  height: max-content;
  background-color: transparent;
  border: none;
  color: rgba(128, 128, 128, 0.699);
  font-size: 3rem;
  cursor: pointer;
  margin-top: -0.75rem;
}

.toggle-button:active {
  transform: scale(0.98);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.25rem;
  margin-top: 0.5rem;
}
.tags p {
  background-color: rgba(128, 128, 128, 0.288);
  color: black;
  padding: 0.5rem 0.5rem;
}

@media screen and (max-width: 360px) {
  .student-photo {
    width: 50px;
    margin-right: 0rem;
  }
  .student-container {
    justify-content: space-evenly;
  }
  .student-name {
    margin-left: 0.5rem;
  }
}
