.search-container {
    margin: 0 1rem 2rem 1rem;
}

input {
    width: 95%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.863);
    padding-top: 1rem;
    padding-bottom: .5rem;
}

input:focus {
    outline: none;
}

input[type="text"] {
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.87);
}

input::placeholder {
    font-family: "Roboto", "sans-serif";
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.582);
    font-weight: 300;
  }