@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

.App {
  max-width: 700px;
  max-height: 600px;
  margin: 5rem auto;
  font-family: "Raleway", "sans-serif";
  overflow-x: hidden;
  border: 2px solid black;
  border-radius: 5px;
}

* {
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 490px) {
  .App {
    width: 98%;
    margin: 1rem auto;
    max-height: 500px;
  }
}

@media screen and (max-width: 320px) {
  .App {
    max-height: 400px;
  }
}
