@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.App {
  width: 85%;
  margin: 1rem auto;
  font-family: "Roboto", "sans-serif";
}

* {
  margin: 0%;
  padding: 0%;
}

img {
  width: 80px;
  max-width: 100%;
  height: auto;
}

.student-container {
  display: flex;
  margin-bottom: 1rem;
  max-width: fit-content;
}

.student-photo {
  border: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 100%;
  overflow: hidden;
  margin-right: 1rem;
  max-height: 80px;
  align-self: center;
}

.student-information {
  font-size: 14px;
  color: gray;
}
.student-information p {
  margin-left: 0.5rem;
  margin-bottom: 0.15rem;
}
.student-name {
  color: black;
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

@media screen and (max-width: 490px) {
  .App {
    width: 98%;
  }
}

@media screen and (max-width: 360px) {
  img {
    width: 50px;
  }
}
