@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');

.App {
  width: 85%;
  margin: 1rem auto;
  font-family: "Raleway", "sans-serif";
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 490px) {
  .App {
    width: 98%;
  }
}
